/* About section  */
.sidebar1{
    width: 20%;
    align-items: center;
    float: left;
    margin: 20px;
    margin-left: 30px;
    margin-right: 15px;
    margin-top: 60px;
   
}

.about-Me{
    align-items: center;
    max-width: 60%;
    margin: 60px;
    padding: auto;
}

.Contact-us{
  

}

.con{
    font-weight: bold;
    margin-bottom: 0;
}

.sidebar2{
    width: 20%;
    
    margin-left: 160px;
    margin-right: 15px;
   
}