*{
    margin: 0;

}

.navigation{
    background-color: #C60C49;
    font-family: 'Poppins',sans-serif;
    display: inline-flex;
    width: 100vw;
}

.btn1{
    position: absolute;
    right: 20px;
    padding: 10px;
    color: rgb(38, 70, 97);
}
.btn2{
    
}
.nav1{
    color: white;
    
}
.welcome{
    width: 60%;
    height: 228px;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin: auto;
    padding: 50px;
    font-size: 19px;
}
.welcome h1{
    font-size: 55px;
}
.head{
    background-color: #C60C49;
    display: flex;
}

.img1 img{
    width: 40vw;
}
.image1{

}

